<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   Made with Remarkable
  </title>
  <link href="http://kevinburke.bitbucket.org/markdowncss/markdown.css" rel="stylesheet"></link>
  <!--
  <link href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/styles/github.min.css" rel="stylesheet"/>
  -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/highlight.min.js">
  </script>
  <script>
   hljs.initHighlightingOnLoad();
  </script>
  <style type="text/css">
   @import url(http://fonts.googleapis.com/css?family=Indie+Flower);body{font-family:Indie Flower,Daniel,cursive}h1,h2{text-align:center}blockquote{margin:1.5em 10px;padding:.5em 10px}blockquote:before{color:#000;content:open-quote;font-size:2em;line-height:.1em;margin-right:.25em;vertical-align:-.4em}blockquote:after{color:#000;content:close-quote;font-size:2em;line-height:.1em;margin-left:.25em;vertical-align:-.4em}blockquote p{display:inline}hr{border:0;border-top:dashed 2px gray}table{padding:0}table tr{border-top:1px solid #ccc;background-color:#fff;margin:0;padding:0}table tr:nth-child(2n){background-color:#aaa}table tr th{font-weight:700;border:1px solid #ccc;text-align:left;margin:0;padding:6px 13px}table tr td{border:1px solid #ccc;text-align:left;margin:0;padding:6px 13px}table tr td :first-child,table tr th :first-child{margin-top:0}table tr td:last-child,table tr th :last-child{margin-bottom:0}
  </style>
 </head>
 <body>
  <h1>
   Chen Xie
  </h1>
  <h2>
   Overview
  </h2>
  <p>
   <a href="#Book">
    Book
   </a>
   <br/>
   <a href="#Sport">
    Sport
   </a>
   <br/>
   <a href="#Travel">
    Travel
   </a>
  </p>
  <p>
   <a name="Book">
   </a>
  </p>
  <h2>
   Books
  </h2>
  <table>
   <thead>
    <tr>
     <th>
      Category
     </th>
     <th>
      Name
     </th>
     <th>
      Author
     </th>
     <th>
      Finish Time
     </th>
    </tr>
   </thead>
   <tbody>
    <tr>
     <td>
      Psychology
     </td>
     <td>
     </td>
     <td>
     </td>
     <td>
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      the road less traveled
     </td>
     <td>
     </td>
     <td>
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      Quirkology
     </td>
     <td>
     </td>
     <td>
     </td>
    </tr>
    <tr>
     <td>
      Novel
     </td>
     <td>
     </td>
     <td>
     </td>
     <td>
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
      three body
     </td>
     <td>
      Cixin Liu
     </td>
     <td>
     </td>
    </tr>
   </tbody>
  </table>
  <p>
   <a name="Sport">
   </a>
  </p>
  <h2>
   Sports
  </h2>
  <table>
   <thead>
    <tr>
     <th>
      Time
     </th>
     <th>
      Sports
     </th>
     <th>
      Data
     </th>
     <th>
      Place
     </th>
    </tr>
   </thead>
   <tbody>
    <tr>
     <td>
      2015
     </td>
     <td>
      basketball
     </td>
     <td>
     </td>
     <td>
      USC
     </td>
    </tr>
    <tr>
     <td>
      2014
     </td>
     <td>
      swim
     </td>
     <td>
      freestyle
     </td>
     <td>
      USC
     </td>
    </tr>
    <tr>
     <td>
      2013
     </td>
     <td>
      run
     </td>
     <td>
      5000m 30'
     </td>
     <td>
      USC
     </td>
    </tr>
    <tr>
     <td>
      2012
     </td>
     <td>
      swim
     </td>
     <td>
      forg
     </td>
     <td>
      BUPT
     </td>
    </tr>
    <tr>
     <td>
      2003
     </td>
     <td>
      run
     </td>
     <td>
      1000m 4'30''
     </td>
     <td>
      SSUM
     </td>
    </tr>
    <tr>
     <td>
      1998
     </td>
     <td>
      soccer
     </td>
     <td>
      LB
     </td>
     <td>
      elementary school
     </td>
    </tr>
   </tbody>
  </table>
  <h2>
   Game
  </h2>
  <table>
   <thead>
    <tr>
     <th>
      Name
     </th>
     <th>
      Time
     </th>
     <th>
      Rival
     </th>
    </tr>
   </thead>
   <tbody>
    <tr>
     <td>
      FIFA15
     </td>
     <td>
      2014-2015
     </td>
     <td>
      Pindy
     </td>
    </tr>
    <tr>
     <td>
      FIFA14
     </td>
     <td>
      2013-2014
     </td>
     <td>
      Computer
     </td>
    </tr>
   </tbody>
  </table>
  <h2>
   Cook
  </h2>
  <table>
   <thead>
    <tr>
     <th>
      Category
     </th>
     <th>
      Name
     </th>
     <th>
      Ingredient
     </th>
    </tr>
   </thead>
   <tbody>
    <tr>
     <td>
      Main dish
     </td>
     <td>
     </td>
     <td>
     </td>
    </tr>
    <tr>
     <td>
      Side
     </td>
     <td>
     </td>
     <td>
     </td>
    </tr>
    <tr>
     <td>
      Vegie
     </td>
     <td>
     </td>
     <td>
     </td>
    </tr>
   </tbody>
  </table>
 </body>
</html>
