<!doctype html>
<html>
<head>
<title>Markdown Preview</title>
<link rel="stylesheet" type="text/css" href="GitHub2.css">

</head>
<body><h1>CV</h1>

<h2>TimeLine</h2>

<h3>Doing</h3>

<ul>
<li>2014.12-now &#160;&#160;&#160;&#160;&#160;&#160;&#160;<strong>Chen-Node</strong></li>
</ul>


<h3>Finished</h3>

<ul>
<li>2015.2-2015.5   &#160;&#160;&#160;&#160;&#160; <strong>Bike Safety System</strong></li>
<li>2014.10-2014.12 &#160;&#160;<strong>mini TOR</strong></li>
<li>2014.7-2014.11 &#160;&#160;&#160;&#160;<strong>Chen Account Service</strong></li>
<li>2014.2-2014.5 &#160;&#160;&#160;&#160;&#160;&#160;<strong>Weenix</strong></li>
<li>2013.11-2013.12 &#160;&#160;<strong>Health Center System</strong></li>
<li>2012.10-2012.12 &#160;&#160;<strong>Wireless Voice Communication</strong></li>
<li>2011.7-2011.9 &#160;&#160;&#160;&#160;&#160;&#160;&#160;<strong>Auto Track Car</strong></li>
</ul>


<h2>Language</h2>

<ul>
<li>[ ] Python</li>
<li>[ ] Node.js</li>
<li>[ ] Java</li>
<li>[ ] C++</li>
<li>[x] C</li>
</ul>


<h2>Project</h2>

<h3>System:</h3>

<ul>
<li><strong>Bike Safety System</strong>

<blockquote><p><strong>key words: Node.js, HTTP, BeagleBone, Java, Localization, Serial Communication,SkyTmote, ContikiOS,  Wireless</strong><br>
<a href="#BSS">Detail</a></p></blockquote></li>
</ul>


<h3>Website:</h3>

<ul>
<li><p><strong>Chen-Node</strong></p>

<blockquote><p><strong>key words: Node.js, Express, BeagleBone</strong><br>
<a href="http://www.chen-node.com">Website</a> <a href="#CN">Detail</a> <a href="https://github.com/neilChenXie/ChenNode">Github</a></p></blockquote></li>
<li><p><strong>Chen Account Service</strong></p>

<blockquote><p>Chen Account service provide<br>
<strong>key words: JQueryMobile, HTML, PHP, MySQL</strong> <br>
<a href="http://www.chenaccount.com">Website</a> <a href="#CAC">Detail</a> <a href="https://github.com/neilChenXie/CAC-account-service">Github</a></p></blockquote></li>
</ul>


<h3>Network</h3>

<ul>
<li><strong>mini TOR</strong>

<blockquote><p>moni TOR(the Onion Router) has the same function as real TOR<br>
<strong>key words: C, Socket, Virtual Circuit, UDP, IP, AES</strong> <br>
<a href="#TOR">Detail</a> <a href="http://www.github.com/neilChenXie/TOR.git">Github</a></p></blockquote></li>
</ul>


<h3>OS kernel</h3>

<ul>
<li><strong>Weenix</strong>

<blockquote><p><strong>key words:</strong><br>
<a href="#Weenix">Detail</a></p></blockquote></li>
</ul>


<h3>Data Science</h3>

<ul>
<li>MapReduce based Pearson similarity calculation</li>
</ul>


<h2><em>Project Detail</em></h2>

<h3>Bike Safety System</h3>

<p><a name="BSS"></a></p>

<h3>Chen-Node</h3>

<p><a name="CN"></a></p>

<h3>Chen Account Service(CAC)</h3>

<p><a name="CAC"></a></p>

<h3>mini The Onion Router(TOR)</h3>

<p><a name="TOR"></a></p>

<h3>Weenix</h3>

<p><a name="Weenix"></a></p></body>
</html>
