<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>CV</title>
    <link type="text/css" rel="stylesheet" href="assets/css/github-markdown.css">
    <link type="text/css" rel="stylesheet" href="assets/css/pilcrow.css">
    <link type="text/css" rel="stylesheet" href="assets/css/hljs-github.min.css"/>
    <style>
      body {
        min-width: 200px;
        max-width: 790px;
        margin: 0 auto;
        padding: 30px;
      }
    </style>
  </head>
  <body>
    <article class="markdown-body"><h1 id="cv"><a class="header-link" href="#cv"></a>CV</h1>
<h2 id="timeline"><a class="header-link" href="#timeline"></a>TimeLine</h2>
<table>
<thead>
<tr>
<th>Time</th>
<th>Project</th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Doing</strong></td>
<td></td>
</tr>
<tr>
<td>2014.12-now</td>
<td><strong>Chen-Node</strong></td>
</tr>
<tr>
<td><strong>Finished</strong></td>
<td></td>
</tr>
<tr>
<td>2015.2-2015.5</td>
<td><strong>Bike Safety System</strong></td>
</tr>
<tr>
<td>2014.10-2014.12</td>
<td><strong>mini TOR</strong></td>
</tr>
<tr>
<td>2014.7-2014.11</td>
<td><strong>Chen Account Service</strong></td>
</tr>
<tr>
<td>2014.2-2014.5</td>
<td><strong>Weenix</strong></td>
</tr>
<tr>
<td>2013.11-2013.12</td>
<td><strong>Health Center System</strong></td>
</tr>
<tr>
<td>2012.10-2012.12</td>
<td><strong>Wireless Voice Communication</strong></td>
</tr>
<tr>
<td>2011.7-2011.9</td>
<td><strong>Auto-Track Car</strong></td>
</tr>
</tbody>
</table>
<h2 id="language"><a class="header-link" href="#language"></a>Language</h2>
<ul class="list">
<li>[x] Node.js</li>
<li>[x] Python</li>
<li>[x] Java</li>
<li>[x] C++</li>
<li>[x] C</li>
</ul>
<h2 id="environment"><a class="header-link" href="#environment"></a>Environment</h2>
<table>
<thead>
<tr>
<th>Name</th>
<th>Distribution</th>
<th>Detail</th>
</tr>
</thead>
<tbody>
<tr>
<td>Linux</td>
<td>Ubuntu, Debian, Angstrom, Fedora, Mint</td>
<td><a href="#Linux">Detail</a></td>
</tr>
<tr>
<td>Max</td>
<td>OSX</td>
<td><a href="#OSX">Detail</a></td>
</tr>
<tr>
<td>Windows</td>
<td>win7</td>
<td><a href="#Windows">Detail</a></td>
</tr>
</tbody>
</table>
<h2 id="project"><a class="header-link" href="#project"></a>Project</h2>
<table>
<thead>
<tr>
<th>Category</th>
<th>Name</th>
<th>Key words</th>
<th>Links</th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>System</strong></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td><strong>Bike Safety System</strong></td>
<td>Node.js, HTTP, BeagleBone, Java, Localization, Serial Communication,SkyTmote, ContikiOS,  Wireless</td>
<td><a href="#BSS">Detail</a></td>
</tr>
<tr>
<td><strong>Website</strong></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td><strong>Chen-Node</strong></td>
<td>Node.js, Express, BeagleBone</td>
<td><a href="http://www.chen-node.com">Website</a> <a href="https://github.com/neilChenXie/ChenNode">Github</a></td>
</tr>
<tr>
<td></td>
<td><strong>Chen Account Service</strong></td>
<td>JQueryMobile, HTML, PHP, MySQL</td>
<td><a href="http://www.chenaccount.com">Website</a> <a href="https://github.com/neilChenXie/CAC-account-service">Github</a></td>
</tr>
<tr>
<td><strong>Network</strong></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td><strong>mini TOR</strong></td>
<td>C, Socket, Virtual Circuit, UDP, IP, AES</td>
<td><a href="http://www.github.com/neilChenXie/TOR.git">Github</a></td>
</tr>
<tr>
<td><strong>OS kernel</strong></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td><strong>Weenix</strong></td>
<td></td>
<td><a href="#Weenix">Detail</a></td>
</tr>
<tr>
<td>Data Science</td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td>MapReduce based Pearson similarity calculation</td>
<td></td>
<td><a href="">Detail</a></td>
</tr>
</tbody>
</table>
<h1 id="-more-"><a class="header-link" href="#-more-"></a><em>More</em></h1>
<p><br></p>
<hr>
<h3 id="-environment-detail-"><a class="header-link" href="#-environment-detail-"></a><em>Environment Detail</em></h3>
<hr>
<p><a name="Linux"></a></p>
<h2 id="linux-cli-"><a class="header-link" href="#linux-cli-"></a>Linux (CLI)</h2>
<h4 id="keyworlds-experience-linux_exp-command-linux_com-tools-linux_tool-"><a class="header-link" href="#keyworlds-experience-linux_exp-command-linux_com-tools-linux_tool-"></a>keyworlds:<a href="#Linux_exp">experience</a>, <a href="#Linux_com">command</a>, <a href="#Linux_tool">tools</a></h4>
<p>   <a name="Linux_exp"></a></p>
<h3 id="experience-tricks"><a class="header-link" href="#experience-tricks"></a>Experience &amp; Tricks</h3>
<ul class="list">
<li><p><em>configuration is normally under <code>/etc/</code></em></p>
<ul class="list">
<li>bash configuration<blockquote>
<p><code>/etc/rc.local</code> for every booting<br>
<code>/etc/profile</code> for all users<br><code>~/.bash_profile</code> for login users</p>
<blockquote>
<ul class="list">
<li><code>export PATH</code> ubuntu/mac</li>
<li><code>setenv PATH</code> for unix</li>
</ul>
</blockquote>
</blockquote>
</li>
</ul>
</li>
<li><p>Port transfer</p>
<blockquote>
<p> based on <code>iptable</code> in <code>/etc/rc.local</code> which runs at the <strong>end</strong> of booting.
 <code>iptables -A PREROUTING -t nat -i eth0 -p tcp --dport 80 -j REDIRECT --to-port 8000</code></p>
</blockquote>
</li>
<li><p>Run in the background with CLI</p>
<blockquote>
<p><code>nohup</code> command <code>&amp;</code></p>
</blockquote>
<p> <a name="Linux_com"></a></p>
</li>
</ul>
<h3 id="command"><a class="header-link" href="#command"></a>Command</h3>
<ul class="list">
<li>scp<blockquote>
<p><code>scp /path/to/local/file username@hostname:/path/to/remote/file</code><br></p>
<pre class="hljs"><code>`scp username1<span class="hljs-variable">@hostname1</span><span class="hljs-symbol">:/path/to/file</span> username2<span class="hljs-variable">@hostname2</span><span class="hljs-symbol">:/path/to/other/file`&lt;br&gt;</span>
`scp username<span class="hljs-variable">@hostname</span><span class="hljs-symbol">:/path/to/remote/file</span> /path/to/local/file`</code></pre></blockquote>
</li>
<li><p>tar</p>
<blockquote>
<p>uncompress:<br> <code>tar xvjf &lt;file.tar.gz2&gt;</code><br><code>tar xvzf &lt;file.tar.gz&gt;</code><br>
compress:<br><code>tar cvjf &lt;file.tar.gz2&gt;</code><br><code>tar cvzf &lt;file.tar.gz&gt;</code></p>
</blockquote>
</li>
<li><p>chmod</p>
<blockquote>
<p>r:4 w:2 x:1<br>u/g/a + r/w/x</p>
</blockquote>
</li>
<li>tail<blockquote>
<p><code>-f</code> to periodically read file</p>
</blockquote>
</li>
<li>xargs</li>
<li>find<blockquote>
<ul class="list">
<li>work with <code>rm</code> &amp; <code>xargs</code>:<pre class="hljs"><code><span class="hljs-keyword">find</span> <span class="hljs-regexp">/home/</span>raven -name abc.txt | xargs rm -rf</code></pre></li>
</ul>
</blockquote>
</li>
<li><p>awk</p>
<p> <a name="Linux_tool"></a></p>
</li>
</ul>
<h3 id="tools"><a class="header-link" href="#tools"></a>Tools</h3>
<ul class="list">
<li><p>VIM</p>
<ul class="list">
<li>Settings<blockquote>
<ul class="list">
<li><code>/etc/vim/vimrc</code></li>
<li><code>~/.vim/vimrc</code></li>
</ul>
</blockquote>
</li>
<li>Plugin<blockquote>
<ul class="list">
<li><code>solarized</code> colorscheme</li>
<li><code>syntastic</code> syntax check</li>
<li><code>YouCompleteMe</code> autocomplete</li>
<li><code>Taglist/Ctags/Cscope</code> tags</li>
</ul>
</blockquote>
</li>
<li>Command:<blockquote>
<ul class="list">
<li>search and replace:<ul class="list">
<li>Find each occurrence of &#39;foo&#39; (in all lines), and replace it with &#39;bar&#39;.<br>
<code>:%s/foo/bar/g</code></li>
<li>Find each occurrence of &#39;foo&#39; (in the current line only), and replace it with &#39;bar&#39;.<br>
<code>:s/foo/bar/g</code><ul class="list">
<li>Change only whole words exactly matching &#39;foo&#39; to &#39;bar&#39;; ask for confirmation.<br>
<code>:%s/foo/bar/gci</code></li>
</ul>
</li>
</ul>
</li>
</ul>
</blockquote>
</li>
</ul>
</li>
<li><p>GDB</p>
</li>
<li><p>Git</p>
<ul class="list">
<li><p>Download &amp; Update </p>
<blockquote>
<p><code>git clone</code> URL<br>
  <code>git remote add</code> newname URL<br>
  <code>git fetch</code> newname(origin)
  <code>git merge</code> newname(origin)/master</p>
</blockquote>
</li>
<li><p>Delete</p>
<blockquote>
<p><code>git rm</code>Delete cache and disk<br></p>
<pre class="hljs"><code><span class="hljs-escape">`g</span>it rm --cache<span class="hljs-escape">`D</span>elete cache only&lt;br&gt;</code></pre></blockquote>
</li>
<li>recover<blockquote>
<p><code>git log</code> list all commit log to check<br>
<code>git checkout 0d1d7fc32</code> go back to where you want</p>
</blockquote>
</li>
<li>Add &amp; Commit<blockquote>
<p><code>.gitignore</code> file to specify which <strong>file</strong> or  <strong>folder</strong> is not included<br><code>git add . / git commit -m</code> as usual</p>
</blockquote>
</li>
</ul>
</li>
</ul>
<p><a name="OSX"></a></p>
<h2 id="osx"><a class="header-link" href="#osx"></a>OSX</h2>
<p><a name="Windows"></a></p>
<h2 id="windows"><a class="header-link" href="#windows"></a>Windows</h2>
<p><br></p>
<hr>
<h3 id="-project-detail-"><a class="header-link" href="#-project-detail-"></a><em>Project Detail</em></h3>
<hr>
<p><a name="BSS"></a></p>
<h2 id="bike-safety-system"><a class="header-link" href="#bike-safety-system"></a>Bike Safety System</h2>
<p><a name="Weenix"></a></p>
<h2 id="weenix"><a class="header-link" href="#weenix"></a>Weenix</h2>
    </article>
  </body>
</html>
