<!doctype html>
<html>
<head>
<title>Markdown Preview</title>
<link rel="stylesheet" type="text/css" href="GitHub2.css">

</head>
<body><h1>CV</h1>

<h2>TimeLine</h2>

<h3>Doing</h3>

<table>
<thead>
<tr>
<th>Time</th>
<th>Project</th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Doing</strong></td>
<td> </td>
</tr>
<tr>
<td>2014.12-now</td>
<td><strong>Chen-Node</strong></td>
</tr>
<tr>
<td>  <strong>Finished</strong></td>
<td>  </td>
</tr>
<tr>
<td>2015.2-2015.5</td>
<td><strong>Bike Safety System</strong></td>
</tr>
<tr>
<td>2014.10-2014.12</td>
<td><strong>mini TOR</strong></td>
</tr>
<tr>
<td>2014.7-2014.11</td>
<td><strong>Chen Account Service</strong></td>
</tr>
<tr>
<td>2014.2-2014.5</td>
<td><strong>Weenix</strong></td>
</tr>
<tr>
<td>2013.11-2013.12</td>
<td><strong>Health Center System</strong></td>
</tr>
<tr>
<td>2012.10-2012.12</td>
<td><strong>Wireless Voice Communication</strong></td>
</tr>
<tr>
<td>2011.7-2011.9</td>
<td><strong>Auto-Track Car</strong></td>
</tr>
</tbody>
</table>


<h2>Language</h2>

<ul>
<li>[x] Node.js</li>
<li>[x] Python</li>
<li>[x] Java</li>
<li>[x] C++</li>
<li>[x] C</li>
</ul>


<h2>Environment</h2>

<table>
<thead>
<tr>
<th> Name </th>
<th> Distribution </th>
<th> Detail </th>
</tr>
</thead>
<tbody>
<tr>
<td> Linux </td>
<td> Ubuntu, Debian, Angstrom, Fedora, Mint </td>
<td> <a href="#Linux">Detail</a> </td>
</tr>
<tr>
<td> Max </td>
<td> OSX </td>
<td> <a href="#OSX">Detail</a> </td>
</tr>
<tr>
<td> Windows </td>
<td> win7 </td>
<td> <a href="#Windows">Detail</a> </td>
</tr>
</tbody>
</table>


<h2>Project</h2>

<table>
<thead>
<tr>
<th> Category </th>
<th> Name </th>
<th> Key words</th>
<th> Links </th>
</tr>
</thead>
<tbody>
<tr>
<td> <strong>System</strong> </td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td><strong>Bike Safety System</strong></td>
<td>Node.js, HTTP, BeagleBone, Java, Localization, Serial Communication,SkyTmote, ContikiOS,  Wireless</td>
<td><a href="#BSS">Detail</a></td>
</tr>
<tr>
<td> <strong>Website</strong> </td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td><strong>Chen-Node</strong></td>
<td>Node.js, Express, BeagleBone</td>
<td><a href="http://www.chen-node.com">Website</a> <a href="https://github.com/neilChenXie/ChenNode">Github</a></td>
</tr>
<tr>
<td></td>
<td><strong>Chen Account Service</strong></td>
<td>JQueryMobile, HTML, PHP, MySQL</td>
<td><a href="http://www.chenaccount.com">Website</a> <a href="https://github.com/neilChenXie/CAC-account-service">Github</a></td>
</tr>
<tr>
<td><strong>Network</strong></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td><strong>mini TOR</strong></td>
<td>C, Socket, Virtual Circuit, UDP, IP, AES</td>
<td><a href="http://www.github.com/neilChenXie/TOR.git">Github</a></td>
</tr>
<tr>
<td><strong>OS kernel</strong></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td><strong>Weenix</strong></td>
<td></td>
<td><a href="#Weenix">Detail</a></td>
</tr>
<tr>
<td>Data Science</td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td>MapReduce based Pearson similarity calculation</td>
<td></td>
<td></td>
</tr>
</tbody>
</table>


<h1><br></h1>

<h1><em>More</em></h1>

<p><br></p>

<hr />

<h3><em>Environment Detail</em></h3>

<hr />

<p><a name="Linux"></a></p>

<h2>Linux (CLI)</h2>

<h4>keyworlds:<a href="#Linux_exp">experience</a>, <a href="#Linux_com">command</a>, <a href="#Linux_tool">tools</a></h4>

<p>   <a name="Linux_exp"></a></p>

<h3>Experience &amp; Tricks</h3>

<ul>
<li><p><em>configuration is normally under <code>/etc/</code></em></p>

<ul>
<li>bash configuration

<blockquote><p><code>/etc/rc.local</code> for every booting<br>
<code>/etc/profile</code> for all users<br><code>~/.bash_profile</code> for login users</p>

<blockquote><ul>
<li><code>export PATH</code> ubuntu/mac</li>
<li><code>setenv PATH</code> for unix</li>
</ul>
</blockquote></blockquote></li>
</ul>
</li>
<li><p>Port transfer</p>

<blockquote><p> based on <code>iptable</code> in <code>/etc/rc.local</code> which runs at the <strong>end</strong> of booting.
 <code>iptables -A PREROUTING -t nat -i eth0 -p tcp --dport 80 -j REDIRECT --to-port 8000</code></p></blockquote></li>
<li>Run in the background with CLI

<blockquote><p><code>nohup</code> command <code>&amp;</code></p></blockquote>

<p> <a name="Linux_com"></a></p></li>
</ul>


<h3>Command</h3>

<ul>
<li>scp

<blockquote><p><code>scp /path/to/local/file username@hostname:/path/to/remote/file</code><br>
    <code>scp username1@hostname1:/path/to/file username2@hostname2:/path/to/other/file</code><br>
    <code>scp username@hostname:/path/to/remote/file /path/to/local/file</code></p></blockquote></li>
<li><p>tar</p>

<blockquote><p>uncompress:<br> <code>tar xvjf &lt;file.tar.gz2&gt;</code><br><code>tar xvzf &lt;file.tar.gz&gt;</code><br>
compress:<br><code>tar cvjf &lt;file.tar.gz2&gt;</code><br><code>tar cvzf &lt;file.tar.gz&gt;</code></p></blockquote></li>
<li><p>chmod</p>

<blockquote><p>r:4 w:2 x:1<br>u/g/a + r/w/x</p></blockquote></li>
<li>tail

<blockquote><p><code>-f</code> to periodically read file</p></blockquote></li>
<li>xargs</li>
<li>find

<blockquote><ul>
<li>work with <code>rm</code> &amp; <code>xargs</code>:
<code>
find /home/raven -name abc.txt | xargs rm -rf
</code></li>
</ul>
</blockquote></li>
<li><p>awk</p>

<p> <a name="Linux_tool"></a></p></li>
</ul>


<h3>Tools</h3>

<ul>
<li><p>VIM</p>

<ul>
<li>Settings

<blockquote><ul>
<li><code>/etc/vim/vimrc</code></li>
<li><code>~/.vim/vimrc</code></li>
</ul>
</blockquote></li>
<li>Plugin

<blockquote><ul>
<li><code>solarized</code> colorscheme</li>
<li><code>syntastic</code> syntax check</li>
<li><code>YouCompleteMe</code> autocomplete</li>
<li><code>Taglist/Ctags/Cscope</code> tags</li>
</ul>
</blockquote></li>
<li>Command:

<blockquote><ul>
<li>search and replace:

<ul>
<li>Find each occurrence of 'foo' (in all lines), and replace it with 'bar'.<br>
<code>:%s/foo/bar/g</code></li>
<li>Find each occurrence of 'foo' (in the current line only), and replace it with 'bar'.<br>
<code>:s/foo/bar/g</code></li>
<li>Change only whole words exactly matching 'foo' to 'bar'; ask for confirmation.<br>
<code>:%s/foo/bar/gci</code></li>
</ul>
</li>
</ul>
</blockquote></li>
</ul>
</li>
<li><p>GDB</p></li>
<li>Git

<ul>
<li><p>Download &amp; Update</p>

<blockquote><p><code>git clone</code> URL<br>
  <code>git remote add</code> newname URL<br>
  <code>git fetch</code> newname(origin)
  <code>git merge</code> newname(origin)/master</p></blockquote></li>
<li><p>Delete</p>

<blockquote><p><code>git rm</code>Delete cache and disk<br>
    <code>git rm --cache</code>Delete cache only<br></p></blockquote></li>
<li>recover

<blockquote><p><code>git log</code> list all commit log to check<br>
<code>git checkout 0d1d7fc32</code> go back to where you want</p></blockquote></li>
<li>Add &amp; Commit

<blockquote><p><code>.gitignore</code> file to specify which <strong>file</strong> or  <strong>folder</strong> is not included <br/>
<code>git add . / git commit -m</code> as usual</p></blockquote></li>
</ul>
</li>
</ul>


<p><a name="OSX"></a></p>

<h2>OSX</h2>

<p><a name="Windows"></a></p>

<h2>Windows</h2>

<p><br></p>

<hr />

<h3><em>Project Detail</em></h3>

<hr />

<p><a name="BSS"></a></p>

<h2>Bike Safety System</h2>

<p><a name="Weenix"></a></p>

<h2>Weenix</h2></body>
</html>
