<!doctype html>
<html>
  <head>
    <title>Socket.IO</title>
  </head>
  <body>
	  <script type="text/javascript" src="http://localhost:8000/socket.io/socket.io.js"></script>
	  <script type="text/javascript">
		var socket = io.connect('http://localhost:8000');
	  </script>
	  <p>Hello this is sio test</p>
  </body>
</html>
