extends base

block vars
	- var title = 'Home'

block body
	h1 Auth!
	p 
		Welcome to the auth home page! Please <a href="/sqlauth/login">Login</a> or <a href="/sqlauth/signup">Register</a> to continue
